
.primary-btn{
  color:white;
  border: 2px solid linen;
  font-size: 16px; 
  background-color: #1f2235;
}
.primary-btn:hover{
  color: aliceblue;
  border: 2px solid #ff5823;
  background-color: #1f2235;
}
.highlighted-btn{
  color: white;
  background-color: #ff5823;
}
.highlighted-btn:hover{
  color: aliceblue;
  border: 2px solid #1f2235;
  background-color: #ff5823;
}